@media screen and (max-width: 688px){
    .carousel-caption{
        font-weight: 800;
        color: white;
    }
}
@media screen and (min-width: 689px) {
    .carousel-caption{
        padding-bottom: 15%;
        font-weight: 700;
        color: white;
    }
    .carousel-caption h1{
        font-size: 70px;
    }
    .carousel-caption p{
        font-size: 20px;
    }
}
.carousel-inner::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 1;
}